{% load static %}   
   
   <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Newspaper Website Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- templatemo 344 newspaper -->
    <!-- 
    Newspaper Template 
    http://www.templatemo.com/preview/templatemo_344_newspaper 
    -->
    <link href="{% static "templatemo_style.css" %}" rel="stylesheet" type="text/css" />

    <script language="javascript" type="text/javascript">
    function clearText(field)
    {
        if (field.defaultValue == field.value) field.value = '';
        else if (field.value == '') field.value = field.defaultValue;
    }
    </script>

    <script type="text/javascript" src="{% static "js/swfobject.js" %}"></script>
    <script type="text/javascript">
        var flashvars = {};
        flashvars.xml_file = "photo_list.xml";
        var params = {};
        params.wmode = "transparent";
        var attributes = {};
        attributes.id = "slider";
        swfobject.embedSWF("flash_slider.swf", "flash_grid_slider", "960", "350", "9.0.0", false, flashvars, params, attributes);
    </script>

    <link rel="stylesheet" type="text/css" href="{% static "ddsmoothmenu.css" %}" />

    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ddsmoothmenu.js" %}">

    /***********************************************
    * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
    * This notice MUST stay intact for legal use
    * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
    ***********************************************/

    </script>

    <script type="text/javascript">

    ddsmoothmenu.init({
        mainmenuid: "templatemo_menu", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    })

    </script>

    </head>

    <body>

    <div id="templatemo_wrapper">
        <div id="templatemo_header">
            <div id="site_title">
                <h1><a href="#">Newspaper Template</a></h1>
            </div>
            <div id="templatemo_menu" class="ddsmoothmenu">
                <ul>
                    <li><a href="{% url 'index' %}" class="selected">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a>
                        <ul>
                            <li><a href="#submenu1">Sub menu 1</a></li>
                            <li><a href="#submenu2">Sub menu 2</a></li>
                            <li><a href="#submenu3">Sub menu 3</a></li>
                    </ul>
                    </li>
                    <li><a href="{% url 'portfolio' %}">Portfolio</a>
                        <ul>
                            <li><a href="#submenu1">Sub menu 1</a></li>
                            <li><a href="#submenu2">Sub menu 2</a></li>
                            <li><a href="#submenu3">Sub menu 3</a></li>
                            <li><a href="#submenu4">Sub menu 4</a></li>
                            <li><a href="#submenu5">Sub menu 5</a></li>
                    </ul>
                    </li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                   
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                <br style="clear: left" />
            </div> <!-- end of templatemo_menu -->
        </div> <!-- end of header -->
        
        <div id="templatemo_slider">
            <div id="flash_grid_slider">
                <a rel="nofollow" href="http://www.adobe.com/go/getflashplayer">
                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                </a>
            </div>
        </div>
        

        {% block home_template %} {% endblock %}
        {% block about_template %}{% endblock %}
        {% block contact_template %}{% endblock %}
        {% block blog_post_template %}{% endblock %}
        {% block blog_template %}{% endblock %}
        {% block flash_slider_template %}{% endblock %}
        {% block portfolio_template %}{% endblock %}

        
        <div id="templatemo_bottom">
          <div class="col_4 col_f">
            <h5>{{resent_blog_main.0.title}}</h5>
              <ul class="footer_link">
                {% for post in resent_posts %}
                  <li><a href="{{post.link_url}}">{{post.link_name}}</a></li>
                {% endfor %}
            
              </ul>
          </div>
          <div class="col_4">
              <h5>{{resent_blog_main.1.title}}</h5>
              <ul class="footer_link">
                {% for comments in resent_comments %}
                  <li><a href="{{comments.link_url1}}">{{comments.link_name1}}</a> on <a href="{{comments.link_url1}}">{{comments.link_name2}}</a></li>
                {% endfor %}  
                  {% comment %} <li><a href="#">Edward</a> on <a href="#">Curabitur imperdiet lacus</a></li>
                  <li><a href="#">George</a> on <a href="#">Mauris eget lorem sagittis leo</a></li>
                  <li><a href="#">Justin</a> on <a href="#">Vestibulum porttitor eleifend</a></li>
                  <li><a href="#">Nelly</a> on <a href="#">Praesent nec dui nisl ac eros</a></li> {% endcomment %}
              </ul>
          </div>
          <div class="col_4">
              <h5>{{resent_blog_main.2.title}}</h5>
              <ul class="footer_link">
                {% for blog in blogroll %}
                  <li><a href="{{blog.link_url}}">{{blog.link_name}}</a></li>
                {% endfor %}
                  {% comment %} <li><a href="#">Nulla et leo sed libero consequat </a></li>
                  <li><a href="#">Duis et libero non vestibulum</a></li>
                  <li><a href="#">Fusce tempor magna in quam</a></li>
                  <li><a href="#">Free Website Templates</a></li> {% endcomment %}
              </ul>
          </div>
          <div class="col_4 col_l rmc">
              <h5>{{resent_blog_main.3.title}}</h5>
              <ul class="footer_link">
                {% for social in contact_socials %}
                  <li>
                    <a href="{{social.link_url}}" target="_blank" title="{{social.title}}">
                      <i class="{{social.class_link}}"></i>{{social.link_name}}
                    </a>
                  </li>
                {% endfor %}
                  {% comment %} <li><a href="#" class="linkedin social">Linkedin</a></li>
                  <li><a href="#" class="myspace social">Myspace</a></li>
                  <li><a href="#" class="youtube social">Youtube</a></li>
                  <li><a href="#" class="vimeo social">Vimeo</a></li> {% endcomment %}
              </ul>
          </div>
          <div class="cleaner"></div>
        </div>
        <div id="templatemo_footer">
            {{footer_text.text}}<a href="#">{{footer_text.link_name}}</a>
        </div>
    </div>

    </body>
    </html>