
{% extends "base.html" %}
{% load static %}   
    


    <body>
      {% block blog_post_template %}
        <div id="templatemo_wrapper">
          
            <div id="content_top">
                <div id="page_title">Full Blog Post</div>
                <div id="search_box">
                    <form action="#" method="get">
                        <input type="text" value="Search" name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                        <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
                    </form>
                </div>
                <div class="cleaner"></div>
            </div>  
            
            <div id="templatemo_content">
                <div class="post_box">
                    <h2>{{blog_post.title}}</h2>
                    <img src="{{blog_post.image.url}}"  alt="{{blog_post.image_title}}" />
                    <p><em>{{blog_post.description1}}</em></p>
                    <p align="justify">{{blog_post.description2}}<a href="{{blog_post.link_url1}}">{{blog_post.link_name1}}</a> {{blog_post.description3}}</p>
                    <p align="justify">{{blog_post.description4}}<a href="{{blog_post.link_url2}}">{{blog_post.link_name2}}</a>{{blog_post.description5}}<a href="{{blog_post.link_url3}}">{{blog_post.link_name3}}</a>{{blog_post.description6}}</p>
        <p align="justify">{{blog_post.description7}}<a href="{{blog_post.link_url4}}" rel="nofollow"><strong>{{blog_post.link_name4}}</strong></a> &amp; <a href="{{blog_post.link_url5}}" rel="nofollow"><strong>{{blog_post.link_name5}}</strong></a>.</p></div>
                
                <div class="cleaner"></div>
                        <h3>{{comments_main.title}}</h3>
                                
                    <div id="comment_section">
                        <ol class="comments first_level">
                                
                                <li>
                                    <div class="comment_box commentbox1">
                                            
                                        <div class="gravatar">
                                            <img src="{{comments.0.image.url}}" alt="{{comments.0.image.title}}" />
                                        </div>
                                        
                                        <div class="comment_text">
                                            <div class="comment_author">{{comments.0.name}} <span class="date">{{comments.0.date}}</span> <span class="time">{{comments.0.time}}</span></div>
                                            <p>{{comments.0.description}}</p>
                                        <div class="reply"><a href="#">Reply</a></div>
                                        </div>
                                        <div class="cleaner"></div>
                                    </div>                        
                                    
                                </li>
                                
                                <li>
                                
                                        <ol class="comments">
                                    
                                            <li>
                                                <div class="comment_box commentbox2">
                                                
                                                <div class="gravatar">
                                                <img src="{{comments.1.image.url}}" alt="{{comments.1.image.title}}" />
                                                </div>
                                                <div class="comment_text">
                                                <div class="comment_author">{{comments.1.name}} <span class="date">{{comments.1.date}}</span> <span class="time">{{comments.1.time}}</span></div>
                                                <p>{{comments.1.description}}</p>
                                                <div class="reply"><a href="#">Reply</a></div>
                                                </div>
                                                
                                                <div class="cleaner"></div>
                                                </div>  
                                            
                                            </li>
                                            
                                            <li>
                                    
                                                <ol class="comments">
                                            
                                                    <li>
                                                        <div class="comment_box commentbox1">
                                                        
                                                            <div class="gravatar">
                                                                <img src="{{comments.2.image.url}}" alt="{{comments.2.image.title}}" />
                                                            </div>
                                                            <div class="comment_text">
                                                                <div class="comment_author">{{comments.2.name}} <span class="date">{{comments.2.date}}</span> <span class="time">{{comments.2.time}}</span></div>
                                                                <p> {{comments.2.description}}</p>
                                                            <div class="reply"><a href="#">Reply</a></div>
                                                            </div>
                                                            
                                                            <div class="cleaner"></div>
                                                        </div>  
                                                        
                                                    </li>
                                            
                                                </ol>
                                
                                            </li>
                                        </ol>
                                        
                                </li>
                                
                                <li>
                                    <div class="comment_box commentbox2">
                                            
                                        <div class="gravatar">
                                            <img src="{{comments.3.image.url}}" alt="{{comments.3.image.title}}" />
                                        </div>
                                        <div class="comment_text">
                                            <div class="comment_author">{{comments.3.name}} <span class="date">{{comments.3.date}}</span> <span class="time">{{comments.3.time}}</span></div>
                                            <p> {{comments.3.description}}</p>
                                        <div class="reply"><a href="#">Reply</a></div>
                                        </div>
                                        
                                        <div class="cleaner"></div>
                                    </div> 
                                    
                                </li>
                                
                                <li>
                                    <div class="comment_box commentbox1">
                                            
                                        <div class="gravatar">
                                            <img src="{{comments.4.image.url}}" alt="{{comments.4.image.title}}" />
                                        </div>
                                        <div class="comment_text">
                                            <div class="comment_author">{{comments.4.name}} <span class="date">{{comments.4.date}}</span> <span class="time">{{comments.4.time}}</span></div>
                                            <p>{{comments.4.description}}</p>
                                        <div class="reply"><a href="#">Reply</a></div>
                                        </div>
                                        
                                        <div class="cleaner"></div>
                                    </div>  
                                </li>
                                
                        </ol>
                        <div class="cleaner h20"></div>    
                            <div class="templatemo_paging">
                                <ul>
                                  {% for n in paging %}
                                    <li><a href="{{n.link_url}}">{{n.link_name}}</a></li>
                                  {% endfor %}
                                </ul>
                                    {% comment %} <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">Next</a></li> {% endcomment %}
                                
                                <div class="cleaner"></div>
                            </div>    
                            
                        </div>
                        
                        <div class="cleaner h20"></div>
                        
                        <div id="comment_form">
                            <h3>Leave your comment</h3>
                            
                            <form action="#" method="get">
                                <div class="form_row">

                                    <label>Name (* required)</label><br />
                                    <input type="text" name="name" />
                                </div>
                                <div class="form_row">
                                    <label>Email  (* required)</label><br />
                                    <input type="text" name="email" />
                                </div>
                                <div class="form_row">

                                    <label>Comment</label><br />
                                    <textarea  name="content" rows="" cols=""></textarea>
                                </div>
                    
                                <input type="submit" name="Submit" value="Submit" class="submit_btn" />
                                
                            </form>
                        
                        </div>
            </div> <!-- end of content -->
            <div id="templatemo_sidebar">
                
                <div class="sb_box">
                    <h3>Categories</h3>
                    <ul class="sb_list">
                        <li><a href="#">Aliquam fermentum et</a></li>
                        <li><a href="#">Donec faucibus accumsan</a></li>
                        <li><a href="#">Fusce malesuada interdum</a></li>
                        <li><a href="#">Integer vel purus at dolor</a></li>
                        <li><a href="#">Phasellus auctor rhoncus</a></li>
                        <li><a href="#">Vestibulum eleifend est id</a></li>
                    </ul>
                </div>
                
                <div class="sb_box">
                    <h3>Testimonial</h3>
                    Pellentesque quis nulla id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit quis nulla id orci malesua. Curabitur nec turpis adipiscing arcu condimentum.
                    <div class="cleaner"></div>
                    <cite>Edward <a href="#"><span>- Flash Designer</span></a></cite>
                    <a href="#" class="more">More</a>
                </div>
                
            </div> <!-- end of sidebar -->
            <div class="cleaner"></div>
            
        </div>
      {% endblock %}
    </body>
    </html>