{% extends "base.html" %}
{% load static %}   
        
 
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Newspaper Template - Contact</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <!-- templatemo 344 newspaper -->
  <!-- 
  Newspaper Template 
  http://www.templatemo.com/preview/templatemo_344_newspaper 
  -->
  <link href="{% static "templatemo_style.css" %}" rel="stylesheet" type="text/css" />

  <script language="javascript" type="text/javascript">
  function clearText(field)
  {
      if (field.defaultValue == field.value) field.value = '';
      else if (field.value == '') field.value = field.defaultValue;
  }
  </script>

  <link rel="stylesheet" type="text/css" href="{% static "ddsmoothmenu.css" %}" />

  <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/ddsmoothmenu.js" %}">

  /***********************************************
  * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
  * This notice MUST stay intact for legal use
  * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
  ***********************************************/

  </script>

  <script type="text/javascript">

  ddsmoothmenu.init({
    mainmenuid: "templatemo_menu", //menu DIV id
    orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
    classname: 'ddsmoothmenu', //class added to menu's outer DIV
    //customtheme: ["#1c5a80", "#18374a"],
    contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
  })

  {% comment %} $("#contact").on("submit", (e) => {
    e.preventDefault();
    const data = {
      'name': $('input[name=name]').val(),
      'email': $('input[name=email]').val(),
      
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    };
    $.post("http://127.0.0.1:8000/messages/receive_message/", data, () => {
      console.log("all is okay");
    });
  
    e.target.reset();
    });
   {% endcomment %}
  </script>

  </head>

  <body>
    {% block contact_template %}
      <div id="templatemo_wrapper">
        
          
        <div id="content_top">
              <div id="page_title">Contact Us</div>
                <div id="search_box">
                  <form action="#" method="get">
                      <input type="text" value="Search" name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                      <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
                  </form>
                </div>
                <div class="cleaner"></div>
              </div>  
          
          <div id="templatemo_content">
              <p>Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>. Morbi et urna mauris. Nulla facilisi. Phasellus ac nisi vitae turpis commodo aliquam a nec augue. Etiam feugiat sem non elit adipiscing imperdiet. Nam luctus faucibus arcu, ut fringilla tellus fringilla et. Cras nec lectus eget lorem dictum rutrum. Ut tempus, ipsum id posuere molestie, odio augue egestas leo, eleifend cursus quam dolor ut nisl. Sed a lectus et odio sodales dictum.</p>
              <p>&nbsp;</p>
            <h1>Send us a message</h1>
              <div id="contact_form">
                  <form method="post" name="contact" action="#">
                    <div class="float_l">
                        <label for="author">Name:</label> <input type="text" id="author" name="name" class="required input_field" />
                    </div>
                      <div class="float_r">
                          <label for="email">Email:</label> <input type="text" id="email" name="email" class="validate-email required input_field" />
                      </div>
                      <div class="cleaner h20"></div>
                      <label for="text">Message:</label> <textarea id="text" name="content" rows="0" cols="0" class="required"></textarea>
                      <div class="cleaner h20"></div>
                      <input type="submit" class="submit_btn float_l" name="submit" id="submit" value="Send" /> 
                      <input type="reset" class="submit_btn float_r" name="reset" id="reset" value="Reset" />
                  </form>
              </div> 
              
          </div> <!-- end of content -->
     
          
      <div id="templatemo_sidebar">
                
          <div class="sb_box">
              <h3>{{categories_main.title}}</h3>
              <ul class="sb_list">
                {% for category in categories %}
                  <li><a href="{{category.link_url}}">{{category.link_name}}</a></li>
                {% endfor %}

                  {% comment %} <li><a href="#">Donec faucibus accumsan</a></li>
                  <li><a href="#">Fusce malesuada interdum</a></li>
                  <li><a href="#">Integer vel purus at dolor</a></li>
                  <li><a href="#">Phasellus auctor rhoncus</a></li>
                  <li><a href="#">Vestibulum eleifend est id</a></li> {% endcomment %}
              </ul>
          </div>
          
          <div class="sb_box">
              <h3>{{testimonial.title}}</h3>
              {{testimonial.description}}
              <div class="cleaner"></div>
              <cite>{{testimonial.name}}<a href="{{testimonial.link_url}}"><span>{{testimonial.position}}</span></a></cite>
              <a href="#" class="more">More</a>
          </div>
          
      </div> <!-- end of sidebar -->
      <div class="cleaner"></div>
        </div>
      </div>
    {% endblock %}
  </body>
  </html>