{% extends "base.html" %}
{% load static %}
  
  <body>
    {% block portfolio_template %}
      <div id="templatemo_wrapper">
         
          
          <div id="content_top">
              <div id="page_title">{{portfolio_main.title}}</div>
              <div id="search_box">
                  <form action="#" method="get">
                      <input type="text" value="Search" name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                      <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
                  </form>
              </div>
              <div class="cleaner"></div>
          </div> 
          
        <div class="gallery_box">
              <h2>Web Design</h2>
              <ul class="gallery">
                {% for web in web_image %}
                  <li>
                    <a class="pirobox" href="{{web.link_url}}" title="{{web.image_title}}">
                    <img src="{{web.image.url}}" alt="{{web.image_title}}" /></a>
                  </li>
                {% endfor %}  

                  {% comment %} <li><a class="pirobox" href="images/gallery/01.jpg" title="Image 01"><img src="{% static "images/gallery/01.jpg" %}" alt="Image 01" /></a></li>
                  <li><a class="pirobox" href="images/gallery/02.jpg" title="Image 02"><img src="{% static "images/gallery/02.jpg" %}" alt="Image 02" /></a></li>
                  <li><a class="pirobox" href="images/gallery/03.jpg" title="Image 03"><img src="{% static "images/gallery/03.jpg" %}" alt="Image 03" /></a></li>
                  <li><a class="pirobox" href="images/gallery/04.jpg" title="Image 04"><img src="{% static "images/gallery/04.jpg" %}" alt="Image 04" /></a></li> {% endcomment %}
              </ul>
              <div class="cleaner"></div>
              <a class="more" href="#">More</a>
          </div>    
        <div class="gallery_box">
              <h2>Photography</h2>
              <ul class="gallery">
                {% for photo in photography %}
                  <li>
                    <a class="pirobox" href="{{photo.link_url}}" title="{{photo.image_title}}">
                    <img src="{{photo.image.url}}" alt="{{photo.image_title}}" /></a>
                  </li>
                {% endfor %}  
              </ul>
                  {% comment %} <li><a class="pirobox" href="images/gallery/05.jpg" title="Image 05"><img src="{% static "images/gallery/05.jpg" %}" alt="Image 05" /></a></li>
                  <li><a class="pirobox" href="images/gallery/06.jpg" title="Image 06"><img src="{% static "images/gallery/06.jpg" %}" alt="Image 06" /></a></li>
                  <li><a class="pirobox" href="images/gallery/07.jpg" title="Image 07"><img src="{% static "images/gallery/07.jpg" %}" alt="Image 07" /></a></li>
                  <li><a class="pirobox" href="images/gallery/08.jpg" title="Image 08"><img src="{% static "images/gallery/08.jpg" %}" alt="Image 08" /></a></li> {% endcomment %}
              
              <div class="cleaner"></div>
              <a class="more" href="#">More</a>
        </div>
        <div class="gallery_box">
              <h2>Print Media</h2>
              <ul class="gallery">
                {% for print in print_media %}
                  <li>
                    <a class="pirobox" href="{{print.link_url}}" title="{{print.image_title}}">
                    <img src="{{print.image.url}}" alt="{{print.image_title}}" /></a>
                  </li>
                {% endfor %}  
              </ul>
                  {% comment %} <li><a class="pirobox" href="images/gallery/09.jpg" title="Image 09"><img src="{% static "images/gallery/09.jpg" %}" alt="Image 09" /></a></li>
                  <li><a class="pirobox" href="images/gallery/10.jpg" title="Image 10"><img src="{% static "images/gallery/10.jpg" %}" alt="Image 10" /></a></li>
                  <li><a class="pirobox" href="images/gallery/11.jpg" title="Image 11"><img src="{% static "images/gallery/11.jpg" %}" alt="Image 11" /></a></li>
                  <li><a class="pirobox" href="images/gallery/12.jpg" title="Image 12"><img src="{% static "images/gallery/12.jpg" %}" alt="Image 12" /></a></li> {% endcomment %}
              
              
              <div class="cleaner"></div>
              <a class="more" href="#">More</a>
        </div>    
          
          <div class="cleaner"></div>
          
          {% comment %} <div id="templatemo_bottom">
            <div class="col_4 col_f">
                <h5>Recent Posts</h5>
                  <ul class="footer_link">
                    <li><a href="#">Nulla eget lacus mauris</a></li>
                      <li><a href="#">Proin elit velit, tristique</a></li>
                      <li><a href="#">Aliquam erat volutpat</a></li>
                      <li><a href="#">Ut porta, lacus at mattis</a></li>
                      <li><a href="#">Maecenas vel lacus id lacus</a></li>
            </ul>
              </div>
              <div class="col_4">
                <h5>Recent Comments</h5>
                  <ul class="footer_link">
                    <li><a href="#">Johny</a> on <a href="#">Nulla venenatis tempor blandit</a></li>
                      <li><a href="#">Edward</a> on <a href="#">Curabitur imperdiet lacus</a></li>
                      <li><a href="#">George</a> on <a href="#">Mauris eget lorem sagittis leo</a></li>
                      <li><a href="#">Justin</a> on <a href="#">Vestibulum porttitor eleifend</a></li>
                      <li><a href="#">Nelly</a> on Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a></li>
            </ul>
              </div>
              <div class="col_4">
                <h5>Blogroll</h5>
                  <ul class="footer_link">
                    <li><a href="#">Suspendisse viverra leo vel</a></li>
                      <li><a href="#">Nulla et leo sed libero consequat </a></li>
                      <li><a href="#">Duis et libero non vestibulum</a></li>
                      <li><a href="#">Fusce tempor magna in quam</a></li>
                      <li><a href="#">Free Website Templates</a></li>
            </ul>
              </div>
              <div class="col_4 col_l rmc">
                <h5>Contact</h5>
                  <ul class="footer_link">
                    <li><a href="#" class="facebook social">Facebook</a></li>
                      <li><a href="#" class="linkedin social">Linkedin</a></li>
                      <li><a href="#" class="myspace social">Myspace</a></li>
                      <li><a href="#" class="youtube social">Youtube</a></li>
                      <li><a href="#" class="vimeo social">Vimeo</a></li>
            </ul>
              </div>
              <div class="cleaner"></div>
          </div>
           {% endcomment %}
      </div>
    {% endblock %}
  </body>
  